{% extends 'admin/indexadmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
    <table width="358" border="1">
    <tr><th>
     <p><a href="mnguser">VIEW USERS </a></p>
      <p><a href="mng_guide">ADD &amp; MANAGE GUIDE </a></p>
      <p><a href="vcmpny">VERIFY COMPANY</a></p>
      <p><a href="vcmp">VIEW COMPLAINTS & SEND REPLY</a></p>
      <p><a href="guide_bub">BLOCK / UNBLOCK GUIDE</a></p>
              <p><a href="vrev">VIEW REVIEWS</a></p>
      <p><a href="/">LOGOUT</a></p></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
