{% extends 'guide/indexgd.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
    <table width="358" border="1">
    <tr><th>
      <p><a href="mng_test">ADD &amp; MANAGE TEST TYPE </a></p>
      <p><a href="mng_qstn">ADD &amp; MANAGE QUESTIONS </a></p>
      <p><a href="addtips">ADD TIPS</a></p>
      <p><a href="vdbt">VIEW DOUBTS & SEND REPLY</a></p>
        <p><a href="grev">VIEW REVIEWS</a></p>
{#        <p><a href="">VIEW RESULT</a></p>#}
      <p><a href="/">LOGOUT</a></p></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
